.App {
  /* text-align: center; */
  background-color: bisque;


}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Btn-clicked{
  background-color: #3FFADE;
  color: red;
  border:0;
  font-size:20;
  width:100;
  height:40;
  border: #282c34;
  border-style: dashed;
  border-radius: 10;
}
.div1{
  background-color: cadetblue;
  width: 40%;
  height: 100px;
  float: left;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  color: white;
}

.div2{
  background-color: cadetblue;
  width: 40%;
  height: 100px;
  float: right;
  margin-top: 20px;
  margin-right: 40px;
  margin-left: 40px;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.div3{
  background-color: darkolivegreen;
  width: 40%;
  height: 100px;
  float: left;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  color: white;
}

.div4{
  background-color: darkolivegreen;
  width: 40%;
  height: 30%;
  float: left;
  margin-top: 20px;
  margin-left: 40px;
  color: white;
  align-content: center;

}

.div5{
  background-color: darkgoldenrod;
  width: 40%;
  height: 30%;
  color: white;
  align-content: center;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
